/* shopping app CSS stylesheet */

.high {
    background-color: #edd;
}

.medium {
    background-color: cornsilk;
}

.low {
    background-color: #ded;
}

.checked {
    background: rgb(95, 93, 93);
    color:#fff;
    text-decoration: line-through;
}